Checks: '*,-llvm-header-guard,-readability-braces-around-statements,-readability-else-after-return,-google-readability-todo,-misc-unused-parameters,-*-function-size,-clang-diagnostic-unused-function,-hicpp-signed-bitwise,-hicpp-braces-around-statements'
WarningsAsErrors: '*'
