*.swp
*.swo
deploy.sh
screenshots/
tests/qemu/test-i386
tests/jit-paging/test-jit
*.map
build/
closure-compiler/
images/
*.bak
*.orig
*.wasm
*.o
*.bin
*.img
*.fixture
*.fuse_hidden*
node_modules/
package-lock.json
profile*.json
src/wasmgen/target
src/wasmgen/Cargo.lock
