language: node_js
node_js:
  - "6.10.2"
dist: trusty
before_install:
  - sudo dpkg --add-architecture i386
  - sudo apt-get update -qq
install:
  - sudo apt-get install -y gcc-multilib nasm gdb
script:
  - "./.travis-run-$TEST_SUITE.sh"
env:
    - TEST_SUITE=unit
    - TEST_SUITE=integration
    - TEST_SUITE=integration-acpi
    - TEST_SUITE=unit-qemu
    - TEST_SUITE=nasm
    - TEST_SUITE=build
matrix:
  allow_failures:
    - env: TEST_SUITE=unit-qemu
deploy:
  provider: pages
  skip_cleanup: true
  keep_history: true
  on:
    condition: $TEST_SUITE = build
  github_token: $GH_TOKEN
  local_dir: build
