#log, #runtime_infos {
    font-family: DejaVu Sans Mono;
    font-size: 13px;
    float: right;
    width: 400px;
    border: 0 none;
    background-color: #000;
    color: #fff;
    width: 360px;
    margin: 3px;
    padding: 3px;
}
#log {
    height: 350px;
}
#serial {
    font-family: DejaVu Sans Mono;
    font-size: 13px;
    border: 0 none;
    background-color: #000;
    color: #fff;
}
#screen {
    white-space: pre;
    position: relative;
    font-family: Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    float: left;
}
#screen, #vga {
    border: 1px solid #555;
    border-width: 2px 1px;
    display: none;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
}
#vga {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;

    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}
#screen > div > span {
    height: 15px;
}
#cursor {
    position: absolute;
    background-color: #ccc;
    width: 7px;
    display: inline-block;
}
body {
    background-color: #111;
    color: #fff;
    line-height: 1.5;
    padding: 10px;
}
a {
    color: wheat;
}
.phone_keyboard {
    background-color: #111;
    border: 1px solid #555;
    width: 100px;
    height: 100px;
}
h4 {
    margin: 0px 0px 20px 0px;
}
#start_emulation {
    padding: 6px 18px;
    font-size: 16px;
    font-weight: bold;
}
#setup_error {
    color: red;
    font-weight: bold;
    background-color: #222;
    padding: 8px 18px;
}
#config_link {
    font-weight: bold;
    background-color: #222;
    padding: 8px 18px;
}
#screen_container {
    float: left;
}
a img {
    margin: 10px;
}
.screenshots a {
    text-decoration: none;
}
textarea:focus, .phone_keyboard:focus {
    outline: 1px solid rgb(229, 151, 0);
}
