#log, #runtime_infos, #serial, #filesystem_panel, #debug_panel {
    font-family: DejaVu Sans Mono, monospace;
    font-size: 13px;
    border: 1px solid #333;
    background-color: #000;
    padding: 4px;
    color: #fff;
}
#screen_container:fullscreen {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
#screen_container:fullscreen #vga {
    width: auto !important;
    height: 100% !important;
}
#runtime_infos, #filesystem_panel {
    float: left;
    width: 250px;
    margin-bottom: 7px;
    margin-right: 7px;
    padding-bottom: 7px;
}
#log {
    height: 100px;
    width: 550px;
}
#debug_panel {
    white-space: pre;
    float: left;
}
#serial {
    margin: 0;
}
#serial:focus {
    outline: 1px solid rgb(229, 151, 0);
}
#screen {
    white-space: pre;
    position: relative;
    font-family: Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
}
#screen, #vga {
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    transform-origin: top left;
}
#vga {
    background-color: #000;
    touch-action: none;
}
#runtime_options {
    padding-bottom: 1.5em;
}
body {
    background-color: #111;
    color: #fff;
    line-height: 1.5;
    padding: 10px;
    font-family: sans-serif;
}
a {
    color: wheat;
    text-decoration: none;
    cursor: pointer;
}
.phone_keyboard {
    width: 0;
    height: 0;
    resize: none;
    position: absolute;
    opacity: 0;
    left: -9999em;
    top: 0;
    z-index: -10;
    white-space: nowrap;
    overflow: hidden;
}
h4 {
    margin: 0 0 9px 0;
}
#start_emulation {
    padding: 6px 18px;
    font-size: 16px;
    font-weight: bold;
}
#setup_error {
    color: red;
    font-weight: bold;
    background-color: #222;
    padding: 8px 18px;
}
#config_link {
    font-weight: bold;
    background-color: #222;
    padding: 8px 18px;
}
#screen_container {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: 1px solid #555;
}
#boot_options td, #boot_options th {
    padding: 1px 7px;
}

#oses a {
    color: #fff;
}
#oses a span:nth-child(1) {
    font-weight: bold;
    color: wheat;
}
#oses .th {
    font-weight: bold;
}
#oses a.tr:hover {
    background-color: #311;
}
#oses a span:nth-child(2) {
    text-align: right;
}

.table { display: table }
.th { display: table-header-group }
.tr { display: table-row }
.tr > span { display: table-cell; padding: 2px 5px }

/* This is the best I managed to do with my little css experience.
   If you can do better, please send a PR. */
@media (max-width: 1250px) {
    #oses span:nth-child(9), #oses span:nth-child(9) {
        display: none;
    }
}
@media (max-width: 1150px) {
    #oses span:nth-child(8), #oses span:nth-child(7), #oses span:nth-child(8), #oses span:nth-child(7) {
        display: none;
    }
}
@media (max-width: 1050px) {
    #oses span:nth-child(5), #oses span:nth-child(6), #oses span:nth-child(5), #oses span:nth-child(6) {
        display: none;
    }
}
@media (max-width: 850px) {
    #oses span:nth-child(4), #oses span:nth-child(4) {
        display: none;
    }
}
@media (max-width: 750px) {
    #oses .th span:nth-child(10) {
        display: none;
    }
    #oses span:nth-child(1), #oses span:nth-child(2), #oses span:nth-child(3), #oses span:nth-child(3) div {
        display: inline;
    }
    #oses span:nth-child(2), #oses span:nth-child(3) {
        font-size: smaller;
    }
    #oses span:nth-child(10) {
        display: block;
        padding-bottom: 10px;
    }
}

label {
    user-select: none;
    white-space: nowrap;
}
input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
    margin: 0;
}
input[type=number] {
    width: 75px;
}
#filter label {
    background-color: #444;
    padding: 2px 4px;
    border-radius: 4px;
}

#terminal {
    max-width: 1024px;
}
.blink {
    animation: blink 0.6s step-start infinite;
}
@keyframes blink {
    50% {
        color: transparent;
    }
}
.blinking-cursor {
    animation: blinking-cursor 0.6s step-start infinite;
}
@keyframes blinking-cursor {
    50% {
        background-color: transparent;
    }
}

.gui_icon {
	height: 1em;
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 50"><path d="M65.6 102.7h15.3v5.1H65.6z" style="fill:white;fill-opacity:1;stroke:none" transform="translate(-64.1 -84.7)"/><path d="M80.9 92.4H118V118H81ZM65 103.6v25.6h38V118H80.8v-14.4z" style="fill:none;stroke:white;stroke-width:2;stroke-linecap:square" transform="translate(-64.1 -84.7)"/><path d="M80.9 92.4h37.9v5.1H80.9zm8.7 21.1v-12.3l7.6 7.6-2.7 1.5 1.9 3.2-1.8 1-2-3.4z" style="fill:white;fill-opacity:1;stroke:none" transform="translate(-64.1 -84.7)"/></svg>');
}
.tui_icon {
	height: 1em;
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 48"><g style="fill:white"><path d="M91 127h26v5H91z" transform="translate(-64 -85)"/><path d="M118 17h26v5h-26z" transform="rotate(45 70 -120)"/><path d="M-43 139h26v5h-26z" transform="rotate(-45 -134 35)"/></g></svg>');
}

.theatre_screen_container {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50dvh;
    left: 50vw;
    z-index: 2;
    outline: none !important;
    margin: 0 !important;
    float: none;
}
.theatre_runtime_options {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 5px !important;
    z-index: 3;
    background-color: black;
    border-bottom: 2px solid #333;
    transform: translate(0%, -50%);
}
.theatre_runtime_options:hover {
    transform: translate(0%, 0%);
}
.theatre_runtime_infos {
    position: fixed;
    bottom: 0;
    z-index: 4;
    margin: 0 !important;
    transform: translate(-10px, calc(100% - 65px));
    opacity: 40%;
}
.theatre_runtime_infos:hover {
    transform: translate(-10px, -5px);
}
.theatre_filesystem_panel {
    position: fixed;
    bottom: 0;
    z-index: 4;
    margin: 0 !important;
    transform: translate(0%, 75%);
    left: 280px;
}
.theatre_filesystem_panel:hover {
    transform: translate(0%, -5px);
}
#theatre_background {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    background-color: black;
    display: none;
    z-index: 1;
}
#toggle_ui {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 5;
}
.theatre_filesystem_panel, .theatre_filesystem_panel {
    opacity: 40%;
}
#toggle_ui, .theatre_runtime_options {
    opacity: 25%;
}
#toggle_ui,
.theatre_runtime_options,
.theatre_runtime_infos,
.theatre_filesystem_panel {
    transition: 0.25s;
}
#toggle_ui:hover,
.theatre_runtime_options:hover,
.theatre_runtime_infos:hover,
.theatre_filesystem_panel:hover {
    opacity: 100%;
}

/* the code below was copied from xterm.css */

.xterm {
    cursor: text;
    position: relative;
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.xterm.focus,
.xterm:focus {
    outline: none;
}

.xterm .xterm-helpers {
    position: absolute;
    top: 0;
    /**
     * The z-index of the helpers must be higher than the canvases in order for
     * IMEs to appear on top.
     */
    z-index: 5;
}

.xterm .xterm-helper-textarea {
    padding: 0;
    border: 0;
    margin: 0;
    /* Move textarea out of the screen to the far left, so that the cursor is not visible */
    position: absolute;
    opacity: 0;
    left: -9999em;
    top: 0;
    width: 0;
    height: 0;
    z-index: -5;
    /** Prevent wrapping so the IME appears against the textarea at the correct position */
    white-space: nowrap;
    overflow: hidden;
    resize: none;
}

.xterm .composition-view {
    /* TODO: Composition position got messed up somewhere */
    background: #000;
    color: #FFF;
    display: none;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
}

.xterm .composition-view.active {
    display: block;
}

.xterm .xterm-viewport {
    /* On OS X this is required in order for the scroll bar to appear fully opaque */
    background-color: #000;
    overflow-y: scroll;
    cursor: default;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.xterm .xterm-screen {
    position: relative;
}

.xterm .xterm-screen canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.xterm .xterm-scroll-area {
    visibility: hidden;
}

.xterm-char-measure-element {
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -9999em;
    line-height: normal;
}

.xterm.enable-mouse-events {
    /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
    cursor: default;
}

.xterm.xterm-cursor-pointer,
.xterm .xterm-cursor-pointer {
    cursor: pointer;
}

.xterm.column-select.focus {
    /* Column selection mode */
    cursor: crosshair;
}

.xterm .xterm-accessibility,
.xterm .xterm-message {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    color: transparent;
    pointer-events: none;
}

.xterm .live-region {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.xterm-dim {
    /* Dim should not apply to background, so the opacity of the foreground color is applied
     * explicitly in the generated class and reset to 1 here */
    opacity: 1 !important;
}

.xterm-underline-1 { text-decoration: underline; }
.xterm-underline-2 { text-decoration: double underline; }
.xterm-underline-3 { text-decoration: wavy underline; }
.xterm-underline-4 { text-decoration: dotted underline; }
.xterm-underline-5 { text-decoration: dashed underline; }

.xterm-overline {
    text-decoration: overline;
}

.xterm-overline.xterm-underline-1 { text-decoration: overline underline; }
.xterm-overline.xterm-underline-2 { text-decoration: overline double underline; }
.xterm-overline.xterm-underline-3 { text-decoration: overline wavy underline; }
.xterm-overline.xterm-underline-4 { text-decoration: overline dotted underline; }
.xterm-overline.xterm-underline-5 { text-decoration: overline dashed underline; }

.xterm-strikethrough {
    text-decoration: line-through;
}

.xterm-screen .xterm-decoration-container .xterm-decoration {
	z-index: 6;
	position: absolute;
}

.xterm-screen .xterm-decoration-container .xterm-decoration.xterm-decoration-top-layer {
	z-index: 7;
}

.xterm-decoration-overview-ruler {
    z-index: 8;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.xterm-decoration-top {
    z-index: 2;
    position: relative;
}
